# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\lucas\OneDrive - Universidade Estadual de Campinas\3º semestre\MC322\Atividades\Git\mc322\lab04\src\mc322\lab04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
